<div class="container">
  <div class="info">
    <h2><mat-icon>location_on</mat-icon> Ubicación</h2>
    <p>Colombia</p>
    <p>Antioquia - Medellín</p>
    <p>Avenida 67 #89-102</p>
  </div>
  <div class="contacto">
    <h2><mat-icon>perm_phone_msg</mat-icon> Contáctanos</h2>
    <p>Correo: informacion@gmail.com</p>
    <p>Whatsapp: 3203285133</p>
    <p>Teléfono fijo: 4223480</p>
  </div>
  <div class="sello">
    <img
      src="../../assets/Imgenes/logo-certificate.png"
      alt="Sello certificado"
    />
  </div>
</div>
