
  .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #050746;
    color: #fff;
    padding: 30px 30px;
    /* margin-left: 250px; */
    position: relative; 
    bottom: 0;
    /*width: 100%;*/
    z-index: 1000;

  }
  
.info,
.contacto,
.sello {
  flex: 1; 
  margin: 0 10px;
  max-width: 50%;
}
  
  h2 {
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  p {
    margin-bottom: 5px;
  }
  
  .sello {
    text-align: center;
  }
  
  .sello img {
    width: 115px;
    height: 115px;
  }
  