.example-card {
    max-width: 400px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en líneas si no caben en el contenedor */
    justify-content: space-between; /* Distribuye el espacio entre las tarjetas */
  }
  .example-card {
    flex-basis: calc(
      50% - 10px
    ); /* Establece el ancho de cada tarjeta al 50% del contenedor con un espacio de 10px entre ellas */
    margin-bottom: 20px; /* Espacio inferior entre las tarjetas */
  }
  
  .mat-mdc-card {
    background-color: #d9d9d9 !important;
  }
  
  .mat-card-actions {
    display: flex !important; /* Usamos !important para asegurarnos de que esta regla prevalezca */
    justify-content: center !important; /* Centramos horizontalmente */
    align-items: center !important; /* Centramos verticalmente */
  }
  
  .mat-mdc-unelevated-button.mat-primary {
    --mdc-filled-button-container-color: #f63700 !important;
    --mdc-filled-button-label-text-color: #fff !important;
  }
  
  .mdc-card__actions {
    justify-content: center;
    margin-bottom: 10px;
  }
  .mat-mdc-card-header {
    justify-content: center;
  }
  .titulo-productos {
    color: #f63700;
    margin-top: 50px;
    text-align: center;
  }
  
  .imgProducto {
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 300px; /* Ancho deseado */
    height: 230px;
  }
  
  .colorPrecio {
    color: red;
    font-size: 18px;
  }
  