<div class="container">
    <div class="logo">
        <img class="logo-project" src="../../assets/Imgenes/logo-project.png" alt="logo-project">
        <br>
        <span>Tecnology <br>
            Eighteen
        </span>
    </div>
    <div class="profile">
        <a href="/" mat-flat-button color="primary" style="margin-left: auto;">Inicio</a>
        <span class="name-user">Pepito perez</span>
        <img src="../../assets/Imgenes/image-profile.png" alt="image-profile">
    </div> 
</div>
