<div class="container">
    <div class="column">
      <img src="../../assets/Imgenes/login.jpg" alt="Imagen de inicio de sesión">
    </div>
    <div class="column">
      <hgroup>
        <h1>INICIAR SESIÓN</h1>
        <h3>Tecnology eighteen</h3>
      </hgroup>
      <form class="login-form">
        <mat-card class="login-card">
          <mat-card-header>
            <mat-card-title><img src="../../assets/Iconos/logoPagina.png" alt=""></mat-card-title>
            
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="fill" class="input-field">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Usuario" name="username" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-field">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" placeholder="Contraseña" name="password" required>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary" class="btnIniciarSesion">Iniciar sesión</button>
          </mat-card-actions>
        </mat-card>
      </form>
      
    </div>
  </div>

