<app-header-inicial></app-header-inicial>
<section class="contact-page-section">
  <div class="container" style="padding: 10px !important;">
    <div class="sec-title">
      <h2><b>Contactanos</b> - Nuestras tiendas</h2>
    </div>
    <div class="centered-map-container">
      <div class="map-container">
        <div class="map">
          <mat-card-content>
            <p></p>
            <h1>
              <b>Medellin</b>
            </h1>
            <p>CLL 12634</p>
          </mat-card-content>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2546326.3341078884!2d-74.66254859045387!3d4.570868772004186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f848cefe1777f%3A0x8d4f2bb4c5f1363a!2sColombia!5e0!3m2!1sen!2sus!4v1649991668570!5m2!1sen!2sus"
            width="540"
            height="225"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
        <div class="map">
          <mat-card-content>
            <p></p>
            <h1>
              <b>Bogota</b>
            </h1>
            <p>CLL 12634</p>
          </mat-card-content>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2546326.3341078884!2d-74.66254859045387!3d4.570868772004186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f848cefe1777f%3A0x8d4f2bb4c5f1363a!2sColombia!5e0!3m2!1sen!2sus!4v1649991668570!5m2!1sen!2sus"
            width="540"
            height="225"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
      </div>
    </div>
    <br><hr>
    <div class="inner-container">
      <div class="row clearfix">
        <!--Form Column-->
        <div class="form-column col-md-8 col-sm-12 col-xs-12">
          <div class="inner-column">
            <!--Contact Form-->
            <div class="contact-form">
              <div></div>
              <form method="post" action="sendemail.php" id="contact-form">
                <div class="row clearfix">
                  <label for="" style="font-size: 20px">Enviar comentarios o sugerencias</label>
                  <div class="form-group col-md-12 col-sm-12 co-xs-12">
                    <textarea style="width: 90%;" class="col-md-12" name="message" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group col-md-12 col-sm-12 co-xs-12">
                    <button type="submit" class="theme-btn btn-style-one">
                      Enviar
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!--End Contact Form-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
