<div class="container">
  <form class="example-form">
    <h1 class="title">CREAR PRODUCTOS</h1>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Caracteristicas principales</mat-label>
        <textarea matInput ></textarea
        >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Acerca delproducto</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      
    </p>


    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Imagenes</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput /> 
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div class="btn_crear">
        <button  mat-flat-button color="primary" style="margin-left: auto;">Crear </button> 
      </div>
  </form>
 
</div>