
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button (click)="mostrarDescuentos()">Inicio</button> 
      <button mat-button (click)="mostrarProductos()">Productos</button>
      <button mat-button (click)="mostrarDescuentos()">Descuentos</button>
      <a href="/resenas" mat-button >Reseñas</a>
      <a href="/contactanos" mat-button >Contacto</a>
      <button mat-button>¿Quiénes somos? </button>  
      <div style="margin-left: auto;">
        <a  href="/users" mat-flat-button color="primary" style="margin-right: 10px;">Administrador</a>
        <button  mat-flat-button color="primary"  (click)="iniciarSesion()">Iniciar sesión </button>  
      </div>
    
      
    </mat-toolbar>
  </p>
  <!-- <div class="whatsapp-button">
    <a href="https://api.whatsapp.com/send?phone=TUNUMERO&text=Hola%20desde%20mi%20sitio%20web" target="_blank">
      <img src="../../assets/Iconos/whatsapp.png" alt="WhatsApp">
    </a>
  </div> -->