
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button (click)="mostrarDescuentos()">Inicio</button> 
      <button mat-button (click)="mostrarProductos()">Productos</button>
      <button mat-button (click)="mostrarDescuentos()">Descuentos</button>
      <button mat-button>Contacto</button>
      <button mat-button>¿Quiénes somos? </button>  
       <button  mat-flat-button color="primary"  (click)="iniciarSesion()"style="margin-left: auto;">Iniciar sesión </button>  
    </mat-toolbar>
  </p>
  <!-- <div class="whatsapp-button">
    <a href="https://api.whatsapp.com/send?phone=TUNUMERO&text=Hola%20desde%20mi%20sitio%20web" target="_blank">
      <img src="../../assets/Iconos/whatsapp.png" alt="WhatsApp">
    </a>
  </div> -->