<div class="sidebar" #sidebar>
    <div class="sidebar-header">
      <h3>Administración</h3>
    </div>
    <ul class="menu">
      <li><a >USUARIOS</a></li>
      <ul class="submenu">
        <li><a href="/users">Consultar usuarios</a></li>
      </ul>
      <li><a >ÓRDENES</a></li>
      <ul class="submenu">
        <li><a href="#">Consultar órdenes</a></li>
      </ul>
      <li><a>PRODUCTOS</a></li>
      <ul class="submenu">
        <li><a href="#">Consultar productos</a></li>
      </ul>
    </ul>
  </div>
  