<div class="sidebar" #sidebar>
    <div class="sidebar-header">
      <h3>Administración</h3>
    </div>
    <ul class="menu">
      <li><a href="#">USUARIOS</a></li>
      <ul class="submenu">
        <li><a href="#">Consultar usuarios</a></li>
      </ul>
      <li><a href="#">ÓRDENES</a></li>
      <ul class="submenu">
        <li><a href="#">Consultar órdenes</a></li>
      </ul>
      <li><a href="#">PRODUCTOS</a></li>
      <ul class="submenu">
        <li><a href="#">Consultar productos</a></li>
      </ul>
    </ul>
  </div>
  